.btn {
    background-color: #fff;
    border: 1px solid $brown;
    font-size: $m-size;
}

.quantity-btn {
    margin: $xs-margin;
}

.add-cart-btn {
    padding: 5px 15px;

    &:hover{
        background-color: #000;
        color: #fff;
    }
}