.btn {
    background-color: #fff;
    border: 1px solid $brown;
    font-size: $m-size;

    &:hover{
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
    }
}

.quantity-btn {
    margin: $xs-margin;
}

.add-cart-btn {
    padding: 5px 15px;
}

.remove-btn {
    color: red;
    border: none;
}

.checkout-btn{
    border: 2px solid $light-dark;
    margin: $s-margin;
    padding: 10px 20px;
}