.product-card {
    margin: $s-margin;
    padding: $s-padding;
    border: 0.5px solid $light-orange;
    box-sizing: border-box;

    h4{
        margin: $xs-margin;
    }
    
    p{
        font-size: $s-size;
    }

    input {
        text-align: center;
        width: 20%;
    };

    &:hover{
        box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 3px 4px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
}