.homePage-container {
    background-color: $orange;
    display: flex;
    height: 100vh;
}
.homePage-intro-container {
    margin: 25rem 40rem 30rem 12rem;
    font-size: $l-size;
}

.image-contianer-homePage {
    position: absolute;
    top: 70px;
    right: 0;
}

.products-container {
    display: flex;
    flex-flow: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: $l-margin;
}

.notFoundPage-container {
    background-color:$orange;
    height: 100vh;
    padding: $xl-size;
    font-size: $l-size;
}

