.homePage-container {
    background-color: $orange;
    display: flex;
    height: 100vh;
}
.homePage-intro-container {
    margin: 25rem 40rem 30rem 12rem;
    font-size: $l-size;
}

.image-contianer-homePage {
    position: absolute;
    top: 70px;
    right: 0;
}

.products-container {
    display: flex;
    flex-flow: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: $l-margin;
}

.shoppingCartPage-container {
    margin: $l-margin 0 0 $l-margin;
    height: 100vh;
}

.cart-lists-contianer {
    width: 80vh;
}

.cart-subtitle-container{
    display: grid;
    grid-template-columns: $grid;
    justify-items: center;
    align-items: center;
    padding: 0 $s-padding;
}

.cart-summary-container {
    border: 1px solid $light-dark;
    position: absolute;
    align-items: center;
    margin: $l-margin;
    margin-left: 0;
    padding: 4rem;
    width: 250px;
    top: 100px;
    right: 50px;
}

.notFoundPage-container {
    background-color:$orange;
    height: 100vh;
    padding: $xl-size;
    font-size: $l-size;
}


.flex-space-between {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $more-light-dark;
}

.total-container {
    border-top: 3px solid $more-light-dark;
}

@media (max-width: 1430px) {
    
    .cart-summary-container {
        margin: $l-margin 0 0 0;
    }
}

@media (max-width: 1300px) {
    .shoppingCartPage-container {
        margin: $l-margin auto 0 auto;
    }
    .cart-summary-container {
        position: relative;
        width: 40vh;
        margin: 0 auto;
    }
}