header {
    background-color: $orange;
    color: #fff;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 10px;
    font-size: $m-size;
    position: fixed;
    top: 0

}

.logo {
    color: #000;
    margin: 0 $m-margin;
    font-size: $xl-size;
    width: 65%;
    padding: 0;
}

.is-active {
    font-weight: bold;
}

.nav {
    color: #000;
    font-size: $m-size;
    margin: 0 1rem;
    width: 11rem;
}

.cart-icon {
    margin-right: 0.6rem;
}

.cart-items-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e64040;
    color: #fff;
    text-align: center;
    font-weight: bold;
    position: relative;
    left: 73px;
    bottom: 30px;
    // relative position element leaves empty space and I didn't want to use absolute position.
    margin-bottom: -20px;
}