// colors
$orange: #ffb84d;

// margins
$s-margin: 3rem;
$m-margin: 6rem;
$l-margin: 13rem;

// sizes
$s-size: 1.2rem;
$m-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$mobile-breakpoint: 45rem;
$m-breakpoint: 60rem;
