// colors
$orange: #ffb84d;
$light-yellow: #f0ff82;
$light-orange: #f7bb6a;
$brown: #d97b00;

$half-opacity: 0.5;
$light-brown: rgba($brown, $half-opacity);

// margins
$xs-margin: 1.5rem;
$s-margin: 3rem;
$m-margin: 6rem;
$l-margin: 13rem;

// padding
$s-padding: 2rem;

// grid
$grid: 0.3fr 1fr 1fr 1.5fr 0.7fr 1.5fr;

// sizes
$s-size: 1.6rem;
$m-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$mobile-breakpoint: 45rem;
$m-breakpoint: 60rem;
